[submodule "project/01-environment_build/third_party/FreeRTOS"]
	path = project/01-environment_build/third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "project/01-environment_build/third_party/STM32F1xx_HAL/STM32F1xx_HAL_Driver"]
	path = project/01-environment_build/third_party/STM32F1xx_HAL/STM32F1xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
